
main {
    margin-top: 60px;
}

.niconne {
    font-family: 'Niconne', cursive;
    font-size: 65px;
    text-align: center;
    font-weight: 400;
}

.background {
    height: 600px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

