
main {
    margin-top: 60px;
}

.intro {
    height: 200px;
    font-size: 36px;
    text-align: center;
    padding: 70px;
    background: rgba(255, 255, 255, 0.0);
}

.quote {
    /*height: 200px;*/
    font-size: 20px;
    text-align: center;
    padding: 0px;
    color: white;
    background: rgba(255, 255, 255, 0.0);
}

.niconne {
    font-family: 'Niconne', cursive;
    font-size: 65px;
    text-align: center;
    font-weight: 400;
    color: yellow;
}

.welcomeToNiconne {
    font-family: 'Niconne', cursive;
    font-size: 65px;
    text-align: left;
    font-weight: 400;
    color: blue;
}

.background {
    height: 600px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

